/*----------------- 
Backend related CSS
-----------------*/

.gm-container {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	gap: 3em;
}

.gm-container .bx form {
	width: 400px;
}

@media screen and (max-width: 780px) {
	.gm-container {
		flex-direction: column;
	}
}
