$bp-md: 45em;
$bp-lg: 65em;
$max-column-count-md: 2;
$max-column-count-lg: 4;
$gap: 1.5rem;
<<<<<<< HEAD
$auto-min-column: 20rem;
=======
$auto-min-column: 20rem;
>>>>>>> d1740562fe5de49f682578cf8635d6d0f7db54b9
