.grid-container {
  display: grid !important;
  gap: 1.6rem;
}
.grid-center {
  width: min(100% - 4rem, 88.5rem);
  margin-inline: auto;
}
@media (min-width: 45.9em) {
  .grid-container {
    grid-auto-flow: column;
  }
  .grid-container .grid-item:nth-child(3n + 1) {
    grid-column: 1;
  }
  .grid-container .grid-item:nth-child(3n + 2) {
    grid-column: 2;
  }
  .grid-container .grid-item:nth-child(3n + 3) {
    grid-column: 3;
  }
}
@media (min-width: 67em) {
  .grid-container .grid-item:nth-child(1n + 1) {
    grid-column: 1;
  }
}
